<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>

<div class="container pt-3">
      <aside class="container__item--sidebar">
        <form [formGroup]="forms"   (ngSubmit)="saveUser($event)">
            <mat-card>
                <div>
                    <button (click)="volver($event)"  class="button btn btn-primary" type="submit" >volver</button>
                </div>  
                <mat-card-header>
                  <mat-card-title>crear usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                      
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input formControlName="codigoUser" matInput placeholder="Código" type="text">
                        </mat-form-field>
                    </div>                  
                    </div>
                    <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input formControlName="nombreUser" matInput placeholder="Nombres" type="text">
                        </mat-form-field>
                       </div> 
                       <div class="col-xs">
                        <mat-form-field>
                            <input formControlName="apellidoUser" matInput placeholder="Apellidos"type="text">
                        </mat-form-field> 
                      </div>             
                  </div>
            
            
                  <div class="row">
                      <div class="col-xs">
                        <mat-form-field>
                        <input list="tipos_de_documento"  matInput formControlName="TipoDocumento" id="browser"  placeholder="tipo de documento">
                            <datalist id="tipos_de_documento">
                            <option value="cédula de ciudadania">
                            <option value="NIT">
                            <option value="cédula extranjera">
                        </datalist>
                        </mat-form-field>
                      </div>
                      <div class="col-xs">
                        <mat-form-field>
                        <input formControlName="identificationUser" matInput placeholder="N° Identificación" type="text">
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs">
                        <mat-form-field>
                        <input formControlName="telefonoUser" placeholder="Teléfono" matInput type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-xs">
                        <mat-form-field>
                        <input formControlName="emailUser" placeholder="Correo" matInput type="text">
                        </mat-form-field>
                      </div>
                  </div>
            
                  <div class="row">
                      <div class="col-xs">
                        <mat-form-field>
                        <input formControlName="direccionUser" placeholder="Dirección" matInput type="text">
                        </mat-form-field>
                      </div>
                    </div>
                  
                    
                  <div class="row">
                    <div class="col-xs">
                      <mat-form-field>
                      <input [(ngModel)]="marcador.lat" formControlName="coordenadasX" placeholder="Latitud" matInput type="text">
                      </mat-form-field>
                    </div>
                    <div>
                    <mat-form-field>
                      <input [(ngModel)]="marcador.lng"  formControlName="coordenadasY" placeholder="Longitud" matInput type="text">
                    </mat-form-field>
                    </div>
                  
                  </div>

                  <div class="row">
                    <div class="col-xs">
                        <input type="checkbox"  formControlName="haveContract" [(ngModel)]=" isChecked_contract" (change)="tieneContrato( isChecked_contract? true:false)">
                         <label for="vehicle1">  Tiene contrato</label><br>
                    </div>
                    <div class="col-xs">
                        <input type="checkbox"  formControlName="isInstalled" matCheckbox [(ngModel)]=" isCheked_installed" (change)="tieneContrato( isCheked_installed?true:false)">
                         <label for="vehicle1">  Esta instalado</label><br>
                    </div>
                </div>

                  <div class="row">
                   
                  </div>
                  <mat-form-field [formGroup]="formInstalacion" color="accent">
                    <mat-label>fecha de instalación</mat-label>
                    <input matInput formControlName="fechaInstalacion" [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                <form [formGroup]="formsServiceInstalacion">  
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Concepto</th>       
                        <th scope="col">Precio</th>  
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let s_i of serviceInstalacion">
                            <td>{{s_i.cantidad}}</td>
                            <td>{{s_i.concepto}}</td>
                            <td>{{s_i.v_unidad}}</td>                  
                        </tr>  <td>          
                            <input  formControlName="cantidad">            
                    </td>
                    <td>
                                
                            <input list="planes" formControlName="concepto" id="browser">
                                    <datalist id="planes">
                                    <option value="sutagao">
                                    <option value="tairona">
                                    <option value="caribe">
                                    </datalist>
                        
                    </td>
                    <td>
                            <input  formControlName="v_unidad">
                    
                    </td>
                    <td>
                        
                    </td>
        
                    <td>
                                 
                    </td>
                </tbody>
            </table>
            <td>
                <button  (click)="guardarServicioInstalacion($event)" type="button" class="btn btn-outline-success" >+</button>
            </td> 
                </form>
                </mat-card-content>
                
                <mat-card-actions>
                <button [disabled]="forms.invalid" mat-raised-button  class="btn btn-success" type="submit">Agregar instalación</button>
                </mat-card-actions>
          </mat-card>
        </form>  
      </aside>
      
      

      <mat-card>
        <mat-card-content>
            <div class="container">
                <agm-map [scrollwheel]="false" 
                [fullscreenControl]='true' [mapTypeControl]='true' (mapClick)= "moveMarcador($event)"    [latitude]="marcador.lat" [longitude]="marcador.lng" [zoom]="15">
                  <agm-marker  [latitude]="marcador.lat" [longitude]="marcador.lng"  ></agm-marker>
                </agm-map>
            </div>
        </mat-card-content>
    </mat-card>
    


 



  
 