
<div class="row" *ngIf="clientes.length==0">
  <div class="col-md-12">   
    <div class="alert  alert-warning">No se encuentra este servicio</div>
  </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Dirección</th>
        <th scope="col">Agregar instalación</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of clientes;let i = index" [attr.data-index]="i" >
          
        <th scope="row">{{i+1}}</th>
        <td>{{user.nombreUser}}</td>
        <td>{{user.apellidoUser}}</td>
        <td>{{user.telefonoUser}}</td>
        <td>{{user.direccionUser}}</td>
        <td><button  (click)="addInstalacion($event, user.idUser)"  type="button" class="btn btn-outline-primary">+</button></td>
        <td><button  (click)="mostrarDetalleUser($event,user.idUser)" type="button" class="btn btn-outline-success">actualizar</button></td>
        <td><button  (click)="eliminarUser($event,user.idUser)" type="button" class="btn btn btn-outline-danger">Eliminar</button></td>
      </tr>
  
    </tbody>
  </table>
<div class="card text-white bg-info mt-5 mb-3"  *ngFor="let servicio of servicios; let i=index" style="max-width: 18rem;">
  <div class="card-header">{{servicio.nombre}}</div>
  <div class="card-body">
    <h5 class="card-title">{{servicio.valor}}</h5>
    <p class="card-text">{{servicio.tecnologia}}</p>
  </div>
  <button  name="button"></button>
  <button [routerLink]="['/servicio',i]" type="button btn-primary" name="button"> ver mas</button>
</div>
