
    <mat-card>

        <mat-card-content>

            <div>
                <button (click)="volver($event)"  class="button btn btn-primary" type="submit" >volver</button>
              </div>  
         <form   [formGroup]="forms"   (ngSubmit)="saveServicioInstalacion($event)">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">concepto</th>
                    <th scope="col">valor unitario</th>
                    <th scope="col">total</th>
                    <th scope="col">instalar</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s_i of serviceInstalacion;let i = index" [attr.data-index]="i" >
                    <td>{{s_i.cantidad}}</td>
                    <td>{{s_i.concepto}}</td>
                    <td>{{s_i.v_unidad}}</td>
                    <td>{{s_i.cantidad*s_i.v_unidad}}</td> 
                    <td><button (click)=  "instalar($event,s_i.idInstalacionServicio)" class="btn btn-outline-succes" >instalar</button></td>
                    <td><button  (click)="eliminarServicioInstalacion(s_i.idInstalacionServicio, i)" type="button" class="btn btn-outline-danger" >-</button> </td>
                </tr> 
                        <td>          
                                <input  formControlName="cantidad">            
                        </td>
                        <td>
                                    
                                <input list="planes" formControlName="concepto" id="browser">
                                        <datalist id="planes">
                                        <option value="sutagao">
                                        <option value="tairona">
                                        <option value="caribe">
                                        </datalist>
                            
                        </td>
                        <td>
                                <input  formControlName="v_unidad">
                        
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <button  (click)="guardarServicioInstalacion($event)" type="button" class="btn btn-outline-success" >+</button>           
                        </td>
                        <td>
                                     
                        </td>
            </tbody>
        </table>
        <mat-card-actions>
            <button  mat-raised-button  class="btn btn-success" type="submit">agregar</button>
        </mat-card-actions>

    </form>
 
    </mat-card-content>
</mat-card>



